<body>
    <section class="searchbar">
        <button class="assemble ui">ASSEMBLE</button>
        <input type="text" />
        <button class="search ui"><img src="/images/ui_assets/search.png" alt="search" class="glass"/></button>
    </section>
    <main class="stat_wrapper align-baseline container">
        <div class="characters-container row">
            {{#each characters as |character|}}
            <div class="character card bg-secondary col-6 col-md-4 col-lg-2 mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{character.title}}</h2>
                    <img src="/images/{{character.image}}" alt="{{character.title}}" class="char-image text-center col-3 mb-2"/>
                <div class="chart col-12">
                    <table class="charts-css bar">

                        <caption> Character Evaluation </caption>

                        <tbody>
                            <tr>
                            <td style="--size: calc( {{character.intelligence}} )"> &#8594; INT  {{character.intelligence}}  |</td>
                            </tr>
                            <tr>
                            <td style="--size: calc( {{character.strength}} )">&#8594; STR  {{character.strength}}  |</td>
                            </tr>
                            <tr>
                            <td style="--size: calc( {{character.speed}} )">&#8594; SPD  {{character.speed}}  |</td>
                            </tr>
                            <tr>
                            <td style="--size: calc( {{character.durability}} )">&#8594; DUR  {{character.durability}}  |</td>
                            </tr>
                            <tr>
                            <td style="--size: calc( {{character.fighting_skills}} )">&#8594; SKL  {{character.fighting_skills}}  |</td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                    {{!-- <div class="character-stats">
                        <div class="row">
                            <div class="col-6">
                                <div class="chart text-white col-md-6 col-lg-12">Intelligence: {{character.intelligence}}</div>
                                <div class="chart text-white col-md-6 col-lg-12">Strength: {{character.strength}}</div>
                                <div class="chart text-white col-md-6 col-lg-12">Speed: {{character.speed}}</div>
                            </div>
                            <div class="col-6">
                                <div class="chart text-white col-md-6 col-lg-12">Durability: {{character.durability}}</div>
                                <div class="chart text-white col-md-6 col-lg-12">Energy: {{character.energy}}</div>
                                <div class="chart text-white col-md-6 col-lg-12">Fighting Skills: {{character.fighting_skills}}</div>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
            {{/each}}
        </div>
    </main>
    <script src="/js/search.js"></script>
</body>