<body>
    <section class="searchbar">
        <input type="text" />
        <button class="search"><img src="/images/ui_assets/search.png" alt="search" class="glass"/></button>
    </section>
    <main class="stat_wrapper align-baseline container">
        <div class="characters-container row row-col-4">
            {{#each characters as |character|}}
            <div class="character flex-row align-items-center card bg-secondary col col-sm-1 col-md-2 col-lg-1 row">
                <h2>{{character.title}}</h2>
                <img src="/images/{{character.image}}" alt="{{character.title}}" class="char-image"/>
                <div class="chart text-white col-lg-6">{{character.intelligence}}</div>
                <div class="chart text-white col-lg-6">{{character.strength}}</div>
                <div class="chart text-white col-lg-6">{{character.speed}}</div>
                <div class="chart text-white col-lg-6">{{character.durability}}</div>
                <div class="chart text-white col-lg-6">{{character.energy}}</div>
                <div class="chart text-white col-lg-6">{{character.fighting_skills}}</div>
            </div>
            {{/each}}
        </div>
    </main>
    <script src="/js/search.js"></script>
</body>