<body>

    <main class="stat_wrapper align-baseline container">
        <div class="characters-container col-11 col-md-11 col-lg-11 justify" value="{{characters.id}}">
            <div class="character card bg-secondary col-12 col-md-12 col-lg-12 mb-4">
                <div class="card-body row">
                    <h2 class="card-title">{{characters.title}}</h2>
                    <input class="id" hidden value="{{characters.id}}">
                    <img src="/images/{{characters.image}}" alt="{{characters.title}}"
                        class="char-image image-main text-center col-3 mb-2" />
                    <div class="chart col-9">
                        <table class="charts-css bar">

                            <caption> Character Evaluation </caption>

                            <tbody>
                                <tr>

                                    <td style="--size: calc( {{characters.intelligence}} )">| INT
                                        {{characters.intelligence}} |</td>
                                </tr>
                                <tr>
                                    <td style="--size: calc( {{characters.strength}} )">| STR {{characters.strength}} |
                                    </td>
                                </tr>
                                <tr>
                                    <td style="--size: calc( {{characters.speed}} )">| SPD {{characters.speed}} |</td>
                                </tr>
                                <tr>
                                    <td style="--size: calc( {{characters.durability}} )">| DUR
                                        {{characters.durability}} |</td>
                                </tr>
                                <tr>
                                    <td style="--size: calc( {{characters.energy}} )">| ENG {{characters.energy}} |</td>
                                </tr>
                                <tr>
                                    <td style="--size: calc( {{characters.fighting_skills}} )">| SKL
                                        {{characters.fighting_skills}} |</td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/logout.js"></script>
    <script src="/search.js"></script>
</body>