<body>
    <nav class="">
        <h1>MARVEL TEAM BUILDER</h1>
    </nav>
   
    <section class="searchbar">
        <input type="text" />
        <button class="search"><img src="/images/ui_assets/search.png" alt="search" /></button>
    </section>
    <main class="stat_wrapper">
        <div class="characters-container">
            {{#each characters as |character|}}
            <div class="character">
                <h2>{{character.title}}</h2>
                <img src="/images/{{character.image}}" alt="{{character.title}}" />
                <div class="chart">{{character.intelligence}}</div>
                <div class="chart">{{character.strength}}</div>
                <div class="chart">{{character.speed}}</div>
                <div class="chart">{{character.durability}}</div>
                <div class="chart">{{character.energy}}</div>
                <div class="chart">{{character.fighting_skills}}</div>
                {{!-- <img src="{{image}}" alt="{{name}}" /> --}}
            </div>
            {{/each}}
        </div>
    </main>
</body>
