<!-- Loop over each object in the projects array -->
{{#each teams as |team| }}
<div class="row mb-4 team">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{team.name}}
      <a href="/team/{{team.id}}">{{team.name}}</a>
    </h2>
  </div>
  <div class="chart col-12">
                    <table class="charts-css bar">

                        <caption> Team Evaluation </caption>

                        <tbody>
                            <tr>

                            <td style="--size: calc( {{team.intelligence}} )">| INT {{team.intelligence}} |</td>
                            </tr>
                            <tr>
                            <td style="--size: calc( {{team.strength}} )">| STR  {{team.strength}} |</td>
                            </tr>
                            <tr>
                            <td style="--size: calc( {{team.speed}} )">| SPD  {{team.speed}} |</td>
                            </tr>
                            <tr>
                            <td style="--size: calc( {{team.durability}} )">| DUR  {{team.durability}} |</td>
                            </tr>
                            <tr>
                            <td style="--size: calc( {{team.energy}} )">| ENG  {{team.energy}} |</td>
                            </tr>
                            <tr>
                            <td style="--size: calc( {{team.fighting_skills}} )">| SKL  {{team.fighting_skills}} |</td>

                            </tr>
                        </tbody>

                    </table>
                </div>
</div>
{{/each}}