<body>
    <section class="searchbar">
        <button class="assemble ui">ASSEMBLE</button>
        <button class="signout ui">SIGN-OUT</button>
        <input type="text" />
        <button class="search ui"><img src="/images/ui_assets/search.png" alt="search" class="glass"/></button>
    </section>
    <main class="stat_wrapper align-baseline container">
        <div class="characters-container row">
            {{#each teams as |team|}}
            <div class="character card bg-secondary col-6 col-md-4 col-lg-2 mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{team.id}}</h2>
                <div class="chart col-12">
                    <table class="charts-css bar">

                        <caption> Team Evaluation </caption>

                        <tbody>
                            <tr>

                            <td style="--size: calc( {{team.intelligence}} )">| INT {{team.intelligence}} |</td>
                            </tr>
                            <tr>
                            <td style="--size: calc( {{team.strength}} )">| STR  {{team.strength}} |</td>
                            </tr>
                            <tr>
                            <td style="--size: calc( {{team.speed}} )">| SPD  {{team.speed}} |</td>
                            </tr>
                            <tr>
                            <td style="--size: calc( {{team.durability}} )">| DUR  {{team.durability}} |</td>
                            </tr>
                            <tr>
                            <td style="--size: calc( {{team.energy}} )">| ENG  {{team.energy}} |</td>
                            </tr>
                            <tr>
                            <td style="--size: calc( {{team.fighting_skills}} )">| SKL  {{team.fighting_skills}} |</td>

                            </tr>
                        </tbody>

                    </table>
                </div>

                    {{!-- <div class="character-stats">
                        <div class="row">
                            <div class="col-6">
                                <div class="chart text-white col-md-6 col-lg-12">Intelligence: {{character.intelligence}}</div>
                                <div class="chart text-white col-md-6 col-lg-12">Strength: {{character.strength}}</div>
                                <div class="chart text-white col-md-6 col-lg-12">Speed: {{character.speed}}</div>
                            </div>
                            <div class="col-6">
                                <div class="chart text-white col-md-6 col-lg-12">Durability: {{character.durability}}</div>
                                <div class="chart text-white col-md-6 col-lg-12">Energy: {{character.energy}}</div>
                                <div class="chart text-white col-md-6 col-lg-12">Fighting Skills: {{character.fighting_skills}}</div>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
            {{/each}}
        </div>
    </main>
    <script src="/js/team.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/search.js"></script>
</body>